.header {
    border-bottom: 1px #ccc dotted;
}
.content {
    padding: 0em 2em 0em 2em;
    margin: 1em 0em 1em 0em;
}
.project-name {
    margin-bottom: 0;
    color: #aaa;
}
small {
    margin-top: 0;
}
.event {
    margin: 0.5em 0em 0.5em 0em;
}
.title {
    float:left;
}
.x {
    font-size: 0.8em;
    float:right;
    padding-bottom: 0.5em;
}
.panel-heading {
    padding-bottom: 1.75em;
}
.flash-message {
    background-color: #eee;
    margin: 0.5em 0.5em 0em 0.5em;
    padding: 0.25em;
    text-align: center;
}
.error {
    margin: .05em;
    color: #ff0000;
}
form, input {
    margin: 0.5em;
}
select {
    margin: 0.25em;
}
.comment-link {
    float:right;
}
.today {
    font-weight: bold;
    font-size: 1.05em;
}